In [1]:
import pandas as pd
import numpy as np

In [15]:
# Q1 Pandas version
pd.__version__

'2.2.2'

In [157]:
df_test = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')
df_test

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [113]:
# Q2 Records count with file in the same folder
df = pd.read_csv('laptops.csv')
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [19]:
# Q3 Laptop brands
df.Brand.nunique()

27

In [21]:
# Q3 Laptop brands
df.Brand.str.lower().nunique()

27

In [23]:
# Q4 Missing values
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [47]:
# Q5 Maximum final price
df.groupby('Brand')['Final Price'].max()

Brand
Acer                3691.00
Alurin               869.00
Apple               3849.00
Asus                5758.14
Deep Gaming         1639.01
Dell                3936.00
Denver               329.95
Dynabook Toshiba    1805.01
Gigabyte            3799.00
HP                  5368.77
Innjoo               431.38
Jetwing              469.27
LG                  2399.00
Lenovo              5018.14
MSI                 7150.47
Medion              3799.00
Microsoft           3747.91
Millenium           2312.71
PcCom               1949.90
Primux               599.41
Prixton              329.95
Razer               4999.01
Realme               999.00
Samsung             3699.01
Thomson              436.56
Toshiba              799.00
Vant                1217.01
Name: Final Price, dtype: float64

In [49]:
# Q5 Maximum final price
df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

In [115]:
# Q6 Median value of Screen
# Q6.1
df['Screen'].mean()

15.168112244897959

In [117]:
# Q6.1
df['Screen'].mean().round(2)

15.17

In [93]:
# Q6.2
most_freq_screen = df['Screen'].mode()
most_freq_screen

0    15.6
Name: Screen, dtype: float64

In [79]:
# Q6.2
def get_frequency_by_column(screen_values):
    array = screen_values.to_numpy()
    frequency_dict = {}

    for value in screen_values:
        if value in frequency_dict:
            frequency_dict[value] += 1
        else:
            frequency_dict[value] = 1
    
    most_frequent_value = max(frequency_dict, key=frequency_dict.get)
    frequency = frequency_dict[most_frequent_value]
    
    print(f"Value: {most_frequent_value}, Frequency: {frequency}")
    
get_frequency_by_column(df['Screen'])

Value: 15.6, Frequency: 1009

In [85]:
# Screen and Max Final Price
df.groupby('Screen')['Final Price'].max()

Screen
10.10     324.00
10.50    1147.67
10.95     531.00
11.60     495.33
12.00     684.65
12.30    2842.50
12.40    1134.21
12.50     358.99
13.00    3107.62
13.30    2068.00
13.40    3999.00
13.50    3747.91
13.60    1969.01
13.90    1599.00
14.00    4599.00
14.10     431.38
14.20    3399.00
14.40    3199.00
14.50    1595.12
15.00    2312.10
15.30    1829.00
15.40    1410.65
15.60    5368.77
16.00    5758.14
16.10    2399.01
16.20    3849.00
17.00    7150.47
17.30    5999.00
18.00    3699.01
Name: Final Price, dtype: float64

In [89]:
# Q6.3
df[df['Screen'].isnull()]

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
624,Acer Extensa 15 EX215-54 Intel Core i5-1135G7/...,New,Acer,Extensa,Intel Core i5,8,256,SSD,NaN,NaN,No,524.99
1430,HP ENVY x360 2-in-1 Laptop 15-ew0008np Intel C...,New,HP,Envy,Intel Core i7,16,512,SSD,RTX 2050,NaN,Yes,1863.52
1503,Lenovo IdeaPad Gaming 3 15ACH6 AMD Ryzen 5 560...,New,Lenovo,IdeaPad,AMD Ryzen 5,16,512,SSD,RTX 3060,NaN,No,1505.00
1548,Lenovo ThinkPad P15 Gen 2 Intel Core i7-11850H...,New,Lenovo,ThinkPad,Intel Core i7,16,512,SSD,RTX A2000,NaN,No,2569.00

In [119]:
# Q6.3
df['Screen'] = df['Screen'].fillna(most_freq_screen[0])

In [103]:
# Q6.3
df[df['Screen'].isnull()]

Empty DataFrame
Columns: [Laptop, Status, Brand, Model, CPU, RAM, Storage, Storage type, GPU, Screen, Touch, Final Price]
Index: []

In [121]:
# Q6.4
df['Screen'].mean()

15.168912037037037

In [123]:
# Q6.4 rounded
df['Screen'].mean().round(2)

15.17

In [143]:
# Q7 Sum of weights
# Q7.1
df[df['Brand'] == 'Innjoo']

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [149]:
# Q7.2
innjoo = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]
innjoo

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [163]:
# Q7.3
X = innjoo.to_numpy()
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [187]:
# Q7.4 with functions
def vector_vector_mult(u, v):
    assert u.shape[0] == v.shape[0]

    n = u.shape[0]

    res = 0.0

    for i in range(n):
        res += u[i] * v[i]

    return res

def matrix_vector_mult(U, v):
    assert U.shape[1] == v.shape[0] #U matrix columns must match v vector num of elements 

    num_rows = U.shape[0]

    res = np.zeros(num_rows)

    for i in range(num_rows):
        res[i] = vector_vector_mult(U[i], v)

    return res

def matrix_matrix_mult(U, V):
    assert U.shape[1] == V.shape[0] #U matrix columns must match V matrix rows

    num_rows = U.shape[0] 
    num_cols = V.shape[1]

    res = np.zeros((num_rows, num_cols)) # the result is a new Matrix with U num of rows and V num of cols
    
    for i in range(num_cols):
        vi = V[:, i] # vi equals all rows from column i
        Uvi = matrix_vector_mult(U, vi)
        res[:, i] = Uvi
    return res

XTX = matrix_matrix_mult(X.T, X) #X.T is the transpose of X.
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [191]:
# Q7.4 
XTX = X.T @ X
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [195]:
# Q7.5 Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [205]:
# Q7.7/8 Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w and sum()
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = ((XTX_inv @ X.T) * y).sum().round(2)
w

91.3